In [62]:
import pandas as pd
import requests


#Url para obtener la data

url = "https://data.cityofnewyork.us/resource/8vgb-zm6e.json"

#Query para obtener la data  donde q: es el codigo postal o ciudadn days es la cantidad de dias



#Esta es las llave para poder acceder a la informacion del api
headers = {
	"X-App-Token": "u79GdF8Bv8VeC5icIpOIWj9cI",

}

#hacemos la solucuitd

response = requests.request("GET", url, headers=headers)

print(response)

<Response [200]>

In [67]:
json = response.json()
json[0].keys()

dict_keys(['mailed_date', 'boro', 'block', 'lot', 'name', 'address_1', 'address_2', 'address_3', 'city_state_zip', 'tax_class', 'bld_class', 'original_market_value', 'original_assessed_value', 'original_exemption', 'original_transitional_assessed_value', 'original_transitional_exemption', 'original_taxable_value', 'revised_market_value', 'revised_assessed_value', 'revised_exemption', 'revised_transitional_assessed_value', 'revised_transitional_exemption', 'revised_taxable_value', 'rc_1', 'rc2', 'borough', 'postcode', 'latitude', 'longitude', 'community_board', 'community_council', 'census_tract', 'bin', 'bbl', 'nta'])

In [64]:
df = pd.DataFrame.from_records(json)

In [66]:
df[df['city_state_zip'].str.contains('NEW YORK')]

,mailed_date,boro,block,lot,name,address_1,address_2,address_3,city_state_zip,tax_class,...,borough,postcode,latitude,longitude,community_board,community_council,census_tract,bin,bbl,nta
0,2016-02-23T00:00:00.000,1,343,61,"KING, LINDA ...",,65 PITT ST,,NEW YORK NY 10002-3504,1,...,MANHATTAN,10002,40.717979,-73.982666,3,1,12,1077600,1003430061,Lower East Side ...
2,2016-02-23T00:00:00.000,1,615,23,"FALCONE , MIMI SHERATON ...",,248 W 12TH ST,,NEW YORK NY 10014-1912,1,...,MANHATTAN,10014,40.737605,-74.002746,2,3,77,1011012,1006150023,West Village ...
4,2016-02-23T00:00:00.000,1,717,63,438 WEST 20 STREET LLC ...,D. DAVIS,225 5TH AVE,OFC 3,NEW YORK NY 10010-1133,1,...,MANHATTAN,10010,40.743827,-73.987907,5,2,56,1087263,1008567502,Hudson Yards-Chelsea-Flatiron-Union Square ...
5,2016-02-23T00:00:00.000,1,741,5,"CHELSEA BOYS DEVELOPERS, LLC ...",,894 6TH AVE,FRNT 4,NEW YORK NY 10001-3508,1,...,MANHATTAN,10001,40.74834,-73.98883,5,3,76,1015834,1008330078,Midtown-Midtown South ...
6,2016-02-23T00:00:00.000,1,885,57,"YUNG BROTHERS REAL ESTATE CO., INC. ...",,142 E 30TH ST,,NEW YORK NY 10016-7319,1,...,MANHATTAN,10016,40.7437,-73.981155,6,2,72,1077027,1008850057,Murray Hill-Kips Bay ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,2016-03-18T00:00:00.000,1,142,1379,"KUMAR, MADHU ...",,200 CHAMBERS STREET UNIT,,NEW YORK NY 10007,4,...,MANHATTAN,10007,40.716863,-74.012207,1,1,21,1087716,1001427502,SoHo-TriBeCa-Civic Center-Little Italy ...
994,2016-03-18T00:00:00.000,1,142,1380,"KUMAR, NAVNIT ...",,200 CHAMBERS STREET,ST19,NEW YORK NY 10007,4,...,MANHATTAN,10007,40.716863,-74.012207,1,1,21,1087716,1001427502,SoHo-TriBeCa-Civic Center-Little Italy ...
995,2016-03-18T00:00:00.000,1,142,1381,"YARBROUGH, JAY ...",,200 CHAMBERS ST,,NEW YORK NY 10007-1131,4,...,MANHATTAN,10007,40.716863,-74.012207,1,1,21,1087716,1001427502,SoHo-TriBeCa-Civic Center-Little Italy ...
998,2016-03-18T00:00:00.000,1,142,1385,"VERY LUCKY BOY, LLC ...",,200 CHAMBERS STREET,ST24,NEW YORK NY 10007,4,...,MANHATTAN,10007,40.716863,-74.012207,1,1,21,1087716,1001427502,SoHo-TriBeCa-Civic Center-Little Italy ...
999,2016-03-18T00:00:00.000,1,142,1386,GAR FAMILY LLC ...,,200 CHAMBERS STREET,ST25,NEW YORK NY 10007,4,...,MANHATTAN,10007,40.716863,-74.012207,1,1,21,1087716,1001427502,SoHo-TriBeCa-Civic Center-Little Italy ...